<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>J.ss03</key>
	<string>J_.ss03.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>g.sc</key>
	<string>g.sc.glif</string>
	<key>g.sc.ss02</key>
	<string>g.sc.ss02.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>two.ss08</key>
	<string>two.ss08.glif</string>
</dict>
</plist>
